.container {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
    scale: 95%;
    margin-bottom: 50px;
}

.menu-section {
    width: 20%;
    padding: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
    border-radius: 10px;
    height: 800px;
    /* Ensures the menu section doesn't grow too tall */
}

.menu-section button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    border: none;
    background: #f4f4f4;
    cursor: pointer;
}

.menu-section button:hover,
.menu-section .active-category {
    background: #007bff;
    color: #fff;
}

.items-section {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 100%;
    justify-content: center;
    gap: 65px;

}

.item-card {
    width: 30%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.item-card .item-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.checkout-section {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    height: 800px;

}


.chechout-text {
    margin-bottom: 55px;
}

.checkout-section .checkout-details {
    margin-bottom: 480px;
}

.checkout-section button {
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.checkout-section .hold-button {
    background: #f0ad4e;
}

.checkout-section .proceed-button {
    background: #5cb85c;
}